* {
	padding: 0px;
	margin: 0px;
	overflow-x: hidden;
}

body {
	font-size: 14px;
	line-height: 1.7em;
	overflow-x: hidden;
}

h1 , h2 , h3 , h4 , h5 , h6 {

}

a , a:hover , a:focus {
	text-decoration: none;
}
/*
colors
#131313
#595959FC
#8C8C8C
#EBEBEB
#ffffff
#F56700
#262626
#D9D9D9
#000000
#F5F5F5
#262626E0, #88888838
#FFFFFF, #F5670000
#202020
#444444
*/
.header {
  display: flex;
  justify-content: center;

}
.navbar {
  justify-content: center;
}
.header .drpdwn {
  margin: 0px 20px 0px 0px;
}

.header .form-control {
  display: flex;
  padding: 10px 100px 10px 15px;
  justify-content: flex-end;
  align-items: center;
  height: 44px;
  width: 552px;
  border-right: 2px solid #EBEBEB;
  margin: 10px 0px 18px 24px;
  background: #EBEBEB;
  font-weight: 200;
  border-radius: 0px;
  border-top-left-radius: 18px ;
  border-bottom-left-radius: 18px ;

}
.header .form-control:hover , .header .form-control:focus {
  background: #EBEBEB;
  font-weight: 200;
  border-radius: 0px;
  border-top-left-radius: 18px ;
  border-bottom-left-radius: 18px ;
}
.header .search-bar {
  margin: 0px;
  padding: 0px;
}
.header .mobile-bar {
  display: none;
}
.header .mobile-bar  .form-control {
  display: flex;
  padding: 10px 100px 10px 15px;
  justify-content: flex-end;
  align-items: center;
  height: 44px;
  width: 100%;
  border-right: 2px solid #EBEBEB;
  margin: 10px 0px 18px 24px;
  background: #EBEBEB;
  font-weight: 200;
  border-radius: 0px;
  border-top-left-radius: 18px ;
  border-bottom-left-radius: 18px ;
}
.header .mobile-bar .form-control:hover , .header .form-control:focus {
  background: #EBEBEB;
  font-weight: 200;
  border-radius: 0px;
  border-top-left-radius: 18px ;
  border-bottom-left-radius: 18px ;
}
.header .mobile-bar  .search-bar {
  margin: 0px;
  padding: 0px;
}
.header .mobile-bar  .search-bar .btn-primary {
   background: #F28230;
    height: 44px;
    width: 10;
    margin: 0px 0px 0px 5px;
    color: #fff;
    padding: 0px 0px 0px 0px;
    border-radius: 10%;
}
.header .search-bar .btn-primary {
  background: #EBEBEB;
  height: 44px;
  width: 40px;
  margin: 10px 0px 0px 0px;
  border-radius: 0px 20px 20px 0px;
  border:none;
  color: #000;
}
.header .search-bar .btn-primary i {
  font-size: 20px;
}
.header .form-control .fa-search {
}
.header .social-media li{
  list-style:none ;
  display: inline-block;
  font-size: 24px;
  margin: 8px 0px 0px 30px;
}
.header .social-media li i {
  width: 100%;
  color: black;
  transform: 0.8s;

}
.header .navbar .mbl {
  display: none;
}
.header .social-media li i:hover
.header .social-media li i:focus {
  color: #F28230;
  font-weight: 700;
}
.header .logo {
	margin: 0px 15px;
}
.header .navbar .drpdwn .dropdown-menu {
  width: 1240px;
  background: #000;
  color: #fff;
  padding: 0px;
  margin: 20px 0px;
}
.header .navbar .drpdwn .dropdown-menu a {
  text-decoration: none;
  color: #fff;
  display: block;
  margin: 0px;
}
.header .navbar .drpdwn .dropdown-menu .row {
  margin: 0px;
  padding: 0px;
}
.header .navbar .drpdwn .dropdown-menu .drpdwn-menu-heads {
  padding: 0px;
  margin: 0px 0px;
  border-right: 2px solid #fff;
  text-align: center;
  padding: 10px;
}
.header .navbar .drpdwn .dropdown-menu .drpdwn-menu-heads-5 {
  border: none;
  text-align: center;
  padding: 0px;
  margin: 0px 0px;
  padding: 10px;
}
.mainbar-sidebar {
  background: #EBEBEB;
  margin: 0px auto;
}
.mainbar-sidebar .mobile {
  margin: 0px 0px 0px 70px;
}

.mainbar-sidebar .mobile .head {
  background: #000;
  padding: 10px 16px 0px 12px;
}

.mainbar-sidebar .mobile .head h4 {
  text-align: left;
  font-size: 28px;
  margin-top: 6px ;
  letter-spacing: 1px;
  color: #fff;
}
.mainbar-sidebar .mobile .head .form-control {
  font-weight: 200;
  display: flex;
  padding: 10px 10px 10px 15px;
  justify-content: flex-end;
  align-items: center;
  height: 28px;
  width: 140px;
  border-right: 2px solid #EBEBEB;
  margin: 10px 0px 18px 24px;
  background: #EBEBEB;
  font-weight: 200;
  border-radius: 0px;
  border-top-left-radius: 4px ;
  border-bottom-left-radius: 4px ;

}
.mainbar-sidebar .mobile .head .fa {
  font-size: 20px;
  background: none;
  color: #8C8C8C;
}
.mainbar-sidebar .mobile .head .btn-primary {
  background: #EBEBEB;
  height: 28px;
  width: 92px;
  margin: 10px 0px 0px 0px;
  border-radius: 0px 20px 20px 0px;
  border:none;
  color: #fff;
  border-top-right-radius: 4px ;
  border-bottom-right-radius: 4px ;
}
.mainbar-sidebar .mobile .head .search-soft {
  position: absolute;
  display: flex;
}
.mainbar-sidebar .mobile .brands {
  background: #fff;
  padding: 10px 60px 0px 0px;
  margin: 0px;
  border-left:3px solid #000 ;
  border-right:3px solid #000 ;
}

.mainbar-sidebar .mobile .brands ul {
  list-style: none;
}
.mainbar-sidebar .mobile .brands ul a {
  display: inline-block;
  height: 44px;
  width: 120px;
  text-align: center;
  letter-spacing: 1px;
  list-style: none;
  line-height: 2.7em;
  font-weight: 300;
  color: #000;
  border:1px solid #EBEBEB;
  text-decoration: none;
  margin-bottom: 16px;
  font-weight: 600;
  transition: 1s;
}
.mainbar-sidebar .mobile .brands ul a:hover , .mainbar-sidebar .mobile .brands ul a:focus {
  color: #000;
  background: #EBEBEB;
}
.mainbar-sidebar .filter {
  margin: 0px 0px 0px 70px;

}
.mainbar-sidebar .filter .head {
  background: #000;
  padding: 10px 16px 0px 12px;
}
.mainbar-sidebar .filter .head h4 {
  text-align: left;
  font-size: 28px;
  margin: 0px;
  padding: 10px 0px 10px 0px;
  letter-spacing: 1px;
  color: #fff;
}
.mainbar-sidebar .filter .filter-body {
  background: #fff;
  padding: 8px 0px 0px 0px;
  margin: 0px;
  border-left:3px solid #000 ;
  border-right:3px solid #000 ;

}
.mainbar-sidebar .filter .filter-body a {
  display: block;
  text-decoration: none;
  text-align: left;
  color: black;
  margin: 0px;
  padding: 0px;
}

.mainbar-sidebar .filter .filter-body p {
  color: black;
  text-align: left;
  border-bottom: 1px solid #EBEBEB;
  margin: 0px 0px 0px 0px;
  padding: 10px 20px;
}
.mainbar-sidebar .filter .container {
  padding: 0px;
}
.mainbar-sidebar .latest-news {
  margin: 0px 50px 0px 20px;
}
.mainbar-sidebar .latest-news h3 {
  color: #fff;
  background: #000;
  padding: 10px 0px 10px 20px;
  letter-spacing: 1px;
}
.mainbar-sidebar .latest-news .news-ads {
  background: #fff;
}
.mainbar-sidebar .latest-news .news-ads h5 {
  display: flex;
  width: 255px;
  height: 76px;
  padding: 10px 70px 10px 10px;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  border: 1px solid #FFF;
  background: linear-gradient(90deg, rgba(38, 38, 38, 0.88) -2.42%, rgba(136, 136, 136, 0.22) 112.42%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: ;
}
.mainbar-sidebar .latest-news .news-ads h4 {
  display: block;
  z-index: 1;
  position: relative;
}
.mainbar-sidebar .latest-news .img-ln2 {
}
.mainbar-sidebar .latest-news img {
  height: 200px;
  position: absolute;
  z-index: -1;
}





.footer {
  background: #131313;
  padding: 0px 150px 0px ;
}
.footer p {
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 160%; /* 22.4px */
  letter-spacing: -0.3px;
  text-transform: capitalize;
  color: #EBEBEB;
}
.footer .footer-logo {
  margin: 30px 0px;
}
.footer .footer-list {
  margin: 90px 0px 0px ;
}
.footer .footer-list li {
  color: #fff;
}
.footer .footer-list a {
  display: inline-block;
  text-align: center;
  letter-spacing: 1px;
  list-style: none;
  line-height: 1.4em;
  color: #000;
  text-decoration: none;
  margin-bottom: 16px;
  font-weight: 600;
  color: #fff;
  font-size: 14px;
}
.footer .advertisement {
  margin: 50px 0px 0px 0px;
}
.footer .footer-advertisement-card {
  background: #202020 ;
  margin: 0px 0px 20px 100px;
  padding: 9px 9px 0px 9px ;

}
.footer .footer-advertisement-card h4 {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  letter-spacing: -0.3px;
  color: #fff;
}
.footer .footer-advertisement-card p {
  color: #8C8C8C;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 14.4px */
  letter-spacing: -0.3px;
  text-transform: capitalize;
}
.footer .footer-advertisement-card p span {
  text-align: right;
  color: #fff;
  margin: 0px 0px 0px 40px;
}
.footer .footer-advertisement-card .card-pic {
  height: 66px;
  width: 66px;
}

.footer hr {
  color: #8C8C8C;
  height: 1px;
}

.footer .social-media {
  margin: 0px 0px 0px 350px;
}
.footer .social-media li{
  list-style:none ;
  display: inline-block;
  font-size: 24px;
  margin: 0px 0px 0px 30px;
}
.footer .social-media li i {
  width: 100%;
  color: #F56700;
  text-align: right;
}






.container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #F56700;
  margin: 6px 0;
  transition: 0.4s;
  color: #F56700;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}











/*
most of the mobile devices 320px-479px
*/
@media (min-width:320px) and (max-width:479px) {


/*Css start*/
html {
 overflow-x: hidden;
}
body {
  overflow-x: hidden;
}
.header {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 15px auto 0px;
}
.col-sm-12 {
  flex: none;
}
.navbar {
  justify-content: center;
}
.header .drpdwn {
  margin: 0px;
}

.header .form-control {
  display: flex;
  padding: 10px 100px 10px 15px;
  justify-content: flex-end;
  align-items: center;
  height: 44px;
  width: 100%;
  border-right: 2px solid #EBEBEB;
  margin: 10px 0px 18px 24px;
  background: #EBEBEB;
  font-weight: 200;
  border-radius: 0px;
  border-top-left-radius: 18px ;
  border-bottom-left-radius: 18px ;
  display: none;
}
.header .navbar .mbl {
  display: block;
}
.header .form-control:hover , .header .form-control:focus {
  background: #EBEBEB;
  font-weight: 200;
  border-radius: 0px;
  border-top-left-radius: 18px ;
  border-bottom-left-radius: 18px ;
}
.header .search-bar {
  margin: 0px;
  padding: 0px;
}
.header .search-bar .btn-primary {
   background: #F28230;
    height: 44px;
    width: 10;
    margin: 0px 0px 0px 5px;
    color: #fff;
    padding: 0px 0px 0px 0px;
    border-radius: 10%;
}
.header .search-bar .btn-primary i {
  font-size: 20px;
}
.header .form-control .fa-search {
}
.header .social-media li{
  display: none;
}
.header .social-media li i {
  width: 100%;
  color: black;
}
.header .logo {
  margin: 0px 0px;
  width: 226px;
}
.header .navbar .drpdwn .dropdown-menu {
  background: #000;
  color: #fff;
  padding: 0px;
  margin: 20px 0px;
  width: 0px;
    display: none;


}
.header .navbar .drpdwn .dropdown-menu a {
  text-decoration: none;
  color: #fff;
  display: block;
  margin: 8px 0px;
    display: none;

}
.header .navbar .drpdwn .dropdown-menu .row {
  margin: 0px;
  padding: 0px;
    display: none;

}
.header .navbar .drpdwn .dropdown-menu .drpdwn-menu-heads {
    padding: 0px;
    margin: 0px 0px;
    border-bottom: 2px solid #fff;
    text-align: center;
    padding: 10px;
    border-right: none;
    display: none;
}
.header .navbar .drpdwn .dropdown-menu .drpdwn-menu-heads-5 {
  border: none;
  text-align: center;
  padding: 0px;
  margin: 0px 0px;
  padding: 10px;
    display: none;

}
.header .navbar .drpdwn .btn {
  display: none;
}
.header .navbar .mbl .btn {
  display: block;
  margin: 0px;
  padding: 0px;
}
.header .navbar .mbl .offcanvas {
  background: transparent;
  width: 100%;
}
.header .navbar .mbl .offcanvas .btn-primary {
  background: #F56700;
   margin: 36px 0px 0px 40px;
    padding: 5px 25px;
    border:  none;
    transition: 0.8s;
}
.header .navbar .mbl .offcanvas .btn-primary:hover ,
.header .navbar .mbl .offcanvas .btn-primary:focus {
  background: #fff;
  color: #F56700;
  font-weight: 800;
}
.header .navbar .mbl .offcanvas hr {
  color: #fff;
  margin: 0px;
  padding: 0px;
}
.header .navbar .mbl .offcanvas .ex {
  color: #fff;
  margin: 40px 0px 0px;

}
.header .navbar .mbl .offcanvas .offcanvas-body {
  background: #000;
  margin: 75px 0px 0px;
}

.header .navbar .mbl .offcanvas .offcanvas-body ul {
  margin: 30px 0px 50px;
  padding: 0px;
}
.header .navbar .mbl .offcanvas .offcanvas-body ul li {
  list-style: none;
  display: ;
}
.header .navbar .mbl .offcanvas .offcanvas-body ul li svg {

}
.header .navbar .mbl .offcanvas .offcanvas-body ul li a {
  text-decoration: none;
  color: #fff;
}
.header .navbar .mbl .offcanvas .offcanvas-body ul li p {
  margin: 3px 0px 15px;
}

.header .mobile-bar {
  display: block;
  margin: 0px 0px 40px;
  padding: 0px;
}
.header .mobile-bar a {
  color: #000;
  text-decoration: none;

}
.header .mobile-bar h2 {
  margin: 5px 0px 0px;
  padding: 10px 0px;
  text-align: center;
  background: #000;
  color: #fff;
}
.header .mobile-bar a:hover,
.header .mobile-bar a:focus {
  background: #000;

  color: #fff;
}
.header .mobile-bar .dl_link {
    cursor:pointer;
}

.header .mobile-bar .dl_sub_dd {
    display:inline-block;
    width: 100%;
}
.header .mobile-bar .dl_parent .dl_sub_dd .form-control {
  display: flex;
  padding: 10px 0px 10px 15px;
  justify-content: flex-end;
  align-items: center;
  height: 44px;
  width: 100%;
  margin: 10px 0px 0px;
  border-right: 2px solid #EBEBEB;
  background: #EBEBEB;
  font-weight: 200;
  border-radius: 0px;
  border-top-left-radius: 18px ;
  border-bottom-left-radius: 18px ;
}
.header .mobile-bar .dl_parent .dl_sub_dd .form-control:hover , 
.header .mobile-bar .dl_parent .dl_sub_dd .form-control:focus {
  background: #EBEBEB;
  font-weight: 200;
  border-radius: 0px;
  border-top-left-radius: 18px ;
  border-bottom-left-radius: 18px ;
}
.header .mobile-bar .dl_parent .dl_sub_dd .search-bar {
  margin: 0px;
  padding: 0px;
}
.header .mobile-bar .dl_parent .dl_sub_dd .search-bar .btn-primary {
   background: #F28230;
    height: 44px;
    width: 10;
    margin: 0px 0px 0px 5px;
    color: #fff;
    padding: 0px 0px 0px 0px;
    border-radius: 10%;
}
.header .mobile-bar .dl_parent .dl_sub_dd .search-bar {
  margin: 0px;
  padding: 0px;
}
.header .mobile-bar .dl_parent .dl_sub_dd .search-bar .btn-primary {
    background: #EBEBEB;
    height: 44px;
    width: 40px;
    margin: 10px 0px 0px;
    border-radius: 0px 20px 20px 0px;
    border: none;
    color: #000;
}
.header .mobile-bar .dl_parent .dl_sub_dd .search-bar .btn-primary i {
  font-size: 20px;
}
.mainbar-sidebar {
  display: none;
}
.header .mobile-bar .dl_parent .dl_sub_dd .mobile-brands {
  padding: 0px;
  margin: 0px;
}
.header .mobile-bar .dl_parent .dl_sub_dd .mobile-brands li {
  list-style: none;
}
.header .mobile-bar .dl_parent .dl_sub_dd .mobile-brands a {
    display: inline-block;
    height: 34px;
    width: 80px;
    text-align: center;
    letter-spacing: 1px;
    list-style: none;
    line-height: 2.7em;
    font-weight: 300;
    color: #000;
    border: 1px solid #EBEBEB;
    text-decoration: none;
    margin: 15px 0px 10px 25px;
    font-weight: 600;
    transition: 1s;
}
.header .mobile-bar .dl_parent .dl_sub_dd .mobile-brands a:hover,
.header .mobile-bar .dl_parent .dl_sub_dd .mobile-brands a:focus {
  color: #000;
  background: #EBEBEB;

}
.footer {
  background: #131313;
  padding:0px ;
}
.footer p {
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 160%; /* 22.4px */
  letter-spacing: -0.3px;
  text-transform: capitalize;
  color: #EBEBEB;
  text-align: center;
}
.footer .footer-logo {
    margin: 30px 0px 30px 70px;
    text-align: center;
    height: 40px;
    width: 240px;
}
.footer .footer-list {
  margin: 90px 0px 0px ;
}
.footer .footer-list li {
  color: #fff;
}
.footer .footer-list a {
  display: inline-block;
  text-align: center;
  letter-spacing: 1px;
  list-style: none;
  line-height: 1.4em;
  color: #000;
  text-decoration: none;
  margin-bottom: 16px;
  font-weight: 600;
  color: #fff;
  font-size: 14px;
}
.footer .advertisement {
  margin: 50px 0px 0px 0px;
}
.footer .footer-advertisement-card {
  background: #202020 ;
  margin:0px;
  padding: 9px 9px 0px 9px ;

}
.footer .footer-advertisement-card h4 {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  letter-spacing: -0.3px;
  color: #fff;
}
.footer .footer-advertisement-card p {
  color: #8C8C8C;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 14.4px */
  letter-spacing: -0.3px;
  text-transform: capitalize;
}
.footer .footer-advertisement-card p span {
  text-align: right;
  color: #fff;
  margin: 0px 0px 0px 40px;
}
.footer .footer-advertisement-card .card-pic {
  height: 66px;
  width: 66px;
}

.footer hr {
  color: #8C8C8C;
  height: 1px;
}

.footer .social-media {
  margin: 0px 0px 0px 0px;
  padding: 0px;
  text-align: center;
}
.footer .social-media li{
  list-style:none ;
  display: inline-block;
  font-size: 24px;
  margin: 0px 0px 0px 10px;
  text-align: center;
}
.footer .social-media li i {
  width: 100%;
  color: #F56700;
  text-align: right;
}
}
/*Css End*/




